.table_of_content a{
    display: block;
}


th,td {
    
    border: solid 1px;

    padding: 10px 20px;

}

th{
    background-color: rgb(203, 201, 201);    
}


table{

    border-collapse:  collapse; 
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;

}